@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.sign-upin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #121fcf;
  background: linear-gradient(to top, #121fcf 5%, #bbb1cf 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  height: 650px;
  border-radius: 10px;
  box-shadow: 2px 3px 8px 1px rgb(8, 2, 2);
}

.message {
  width: 450px;
  background: #ff0505;
  background: linear-gradient(to bottom, #ff0505 0%, #bbb1cf 100%);
  height: 650px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.message h1 {
  color: white;
  padding: 20px 0;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 35px;
}

.message p {
  color: white;
  text-align: center;
  padding: 0 0 20px 0;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.message button {
  width: 150px;
  border: 2px solid white;
  background: transparent;
  padding: 13px;
  border-radius: 50px;
  margin-top: 10px;
}

.message button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  display: block;
}

.create-account {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.create-account h1 {
  color: white;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
  padding: 10px 0 0 0;
  text-align: center;
  font-size: 30px;
}

.form {
  padding: 5px 0;
}

.form input {
  width: 350px;
  height: 50px;
  margin: 5px 80px;
  padding: 10px;
  border: 1px solid rgba(24, 109, 200, 0.862);
  background-color: transparent;
  border-radius: 10px;
  position: relative;
}

.create-account .btn button {
  width: 200px;
  border: 2px solid rgba(24, 109, 200, 0.862);
  background: rgba(24, 109, 200, 0.862);
  padding: 13px;
  border-radius: 50px;
  margin: 10px 0;
  cursor: pointer;
}

.create-account .btn button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  display: block;
}
.fbtn button {
  width: 200px;
  border: 2px solid rgba(24, 109, 200, 0.862);
  background: rgba(24, 109, 200, 0.862);
  padding: 13px;
  border-radius: 50px;
  margin: 10px 0;
  cursor: pointer;
}
.fbtn button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  display: block;
}
.fbtn button:hover,
.create-account .btn button:hover {
  background: transparent;
  transition: 0.5s ease-in;
  transform: scale(1.1);
}
.form input[type="email"],
.form input[type="password"] {
  padding-left: 15px;
  font-size: 15px;
  color: white;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.create-account p {
  padding: 10px 80px 20px 80px;
  color: white;
  font-weight: bold;
  text-align: center;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.form img {
  width: 24px;
  position: absolute;
  left: 650px;
  color: black;
  margin-bottom: 3px;
  margin-top: 2px;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form input::placeholder {
  color: white;
  font-weight: bold;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
